{% extends "layouts/app.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="header-title">GESTON DES VACATIONS</h1>
                <form action="{% url 'gerer-vacations' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <select name="annee_academique" id="annee-academique-select" class="form-control">
                                <option value="">Sélectionner l'année...</option>
                                {% for annee in annees %}
                                    <option value="{{ annee.id }}">{{ annee.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="classe" id="classe-select" class="form-control">
                                <option value="">Sélectionner la classe...</option>
                                {% for classe in classes %}
                                    <option value="{{ classe.id }}">{{ classe.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="enseignant" id="enseignant-select" class="form-control">
                                <option value="">Sélectionner l'enseignant...</option>
                                {% for enseignant in enseignants %}
                                    <option value="{{ enseignant.id }}">{{ enseignant.nom }} {{ enseignant.prenom }}</option>
                                {% endfor %}
                            </select>
                        </div>
    
                    </div>
                    <br>
                    
                    <div class="col-md-3">
                        <button type="submit" id="soumission" class="btn btn-primary">Visualiser</button>
                    </div>
                    <br> 
                </form>   
                <br>
                
                {% if vacations %}
                <div class="row"></div>
                    <div class="col-12">
                        <div class="card widget-inline">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card rounded-0 shadow-none m-0">
                                            <div class="card-body text-center">
                                                <i class="ri-briefcase-line text-muted font-24"></i>
                                                <h3><span style="color: red;">{{somme_total_vacation}}</span></h3>
                                                <p class="text-muted font-15 mb-0">Somme Totale à payer</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                            <div class="card-body text-center">
                                                <i class="ri-list-check-2 text-muted font-24"></i>
                                                <h3><span style="color: red;">{{nombre_heure_effectuees_total}}</span></h3>
                                                <p class="text-muted font-15 mb-0">Nombre d'heure total effectué</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                            <div class="card-body text-center">
                                                <i class="ri-group-line text-muted font-24"></i>
                                                <h3><span style="color: chartreuse;">{{nbre_cours_effectues}}</span></h3>
                                                <p class="text-muted font-15 mb-0">Nbre de cours effectués</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-lg-3">
                                        <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                            <div class="card-body text-center">
                                                <i class="ri-line-chart-line text-muted font-24"></i>
                                                <h3><span>93%</span> <i class="mdi mdi-arrow-up text-success"></i></h3>
                                                <p class="text-muted font-15 mb-0">Productivity</p>
                                            </div>
                                        </div>
                                    </div>

                                </div> <!-- end row -->
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col-->
                </div>
                <br>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="state-saving-preview">
                            <table id="state-saving-datatable" class="table activate-select dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>ANNEE ACADEMIQUE</th>
                                        <th>NOM ET PRENOM</th>
                                        <th>GRADE</th>
                                        <th>TELEPHONE</th>                                     
                                        <th>EMAIL</th>  
                                        <th>HEURES EFFECTUEES</th>                                     
                                        <th>PRIX HORAIRE</th>                                     
                                        <th>MONTANT</th>                                     
                                        <th>SEMESTRE</th>                                     
                                        <th>MATIERE</th>                                     
                                        <th>DATE</th>                                     
                                        <th>DEBUT</th>                                     
                                        <th>FIN</th>                                     
                                    </tr>
                                </thead>
                                <tbody id="corps">
                                    {% for vacation in vacations %}
                                        <tr>
                                            <td>{{vacation.annee}}</td>                                             
                                            <td>{{ vacation.enseignant.nom}} {{ vacation.enseignant.prenom}}</td>
                                            <td>{{ vacation.enseignant.grade}}</td>
                                            <td>{{vacation.enseignant.telephone}}</td>                                             
                                            <td>{{vacation.enseignant.email}}</td>                                             
                                            <td>{{vacation.nbre_heure_effectue}} H</td>                                             
                                            <td> <span> <strong style="color: blue;">{{vacation.enseignant.grade.prix_unitaire_horaire}} FCFA</strong> </span></td>                                             
                                            <td> <span><strong style="color: red;">{{vacation.calculMontantVacation}} FCFA</strong></span>  </td>                                             
                                            <td>{{vacation.semestre.libelle}}</td>                                             
                                            <td>{{vacation.matiere}}</td>                                             
                                            <td>{{vacation.date}}</td>                                             
                                            <td>{{vacation.debut}}</td>                                             
                                            <td>{{vacation.fin}}</td>                                             
                                        </tr>
                                    {% endfor %}                                
                                </tbody>
                            </table>
                        </div> <!-- end preview-->        
                    </div> <!-- end tab-content-->    
                {% endif %}                             
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->

{% endblock %}
