{% extends "layouts/app.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="header-title">GESTON DES VACATIONS</h1>
                <form action="{% url 'gerer-vacations' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <select name="annee_academique" id="annee-academique-select" class="form-control">
                                <option value="">Sélectionner l'année...</option>
                                {% for annee in annees %}
                                    <option value="{{ annee.id }}">{{ annee.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="classe" id="classe-select" class="form-control">
                                <option value="">Sélectionner la classe...</option>
                                {% for classe in classes %}
                                    <option value="{{ classe.id }}">{{ classe.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="enseignant" id="enseignant-select" class="form-control">
                                <option value="">Sélectionner l'enseignant...</option>
                                {% for enseignant in enseignants %}
                                    <option value="{{ enseignant.id }}">{{ enseignant.nom }} {{ enseignant.prenom }}</option>
                                {% endfor %}
                            </select>
                        </div>
    
                    </div>
                    <br>
                    
                    <div class="col-md-3">
                        <button type="submit" id="soumission" class="btn btn-primary">Visualiser</button>
                    </div>
                    <br> 
                </form>   
                {% if vacations %}
                    <div class="tab-content">
                        <div class="tab-pane show active" id="state-saving-preview">
                            <table id="state-saving-datatable" class="table activate-select dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>ANNEE ACADEMIQUE</th>
                                        <th>NOM ET PRENOM</th>
                                        <th>GRADE</th>
                                        <th>TELEPHONE</th>                                     
                                        <th>EMAIL</th>  
                                        <th>HEURES EFFECTUEES</th>                                     
                                        <th>SEMESTRE</th>                                     
                                        <th>MATIERE</th>                                     
                                        <th>DATE</th>                                     
                                        <th>DEBUT</th>                                     
                                        <th>FIN</th>                                     
                                    </tr>
                                </thead>
                                <tbody id="corps">
                                    {% for vacation in vacations %}
                                        <tr>
                                            <td>{{vacation.annee}}</td>                                             
                                            <td>{{ vacation.enseignant.nom}} {{ vacation.enseignant.prenom}}</td>
                                            <td>{{ vacation.enseignant.grade}}</td>
                                            <td>{{vacation.enseignant.telephone}}</td>                                             
                                            <td>{{vacation.enseignant.email}}</td>                                             
                                            <td>{{vacation.nbre_heure_effectue}}</td>                                             
                                            <td>{{vacation.semestre.libelle}}</td>                                             
                                            <td>{{vacation.matiere}}</td>                                             
                                            <td>{{vacation.date}}</td>                                             
                                            <td>{{vacation.debut}}</td>                                             
                                            <td>{{vacation.fin}}</td>                                             
                                        </tr>
                                    {% endfor %}                                
                                </tbody>
                            </table>
                        </div> <!-- end preview-->        
                    </div> <!-- end tab-content-->    
                {% endif %}                             
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->

{% endblock %}
