{% extends "layouts/app.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">LES ETUDIANTS INSCRITS</h4>   
                    <form action="{% url "liste-etudiant-inscrits" %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <select name="annee_academique" id="" class="form-control">
                                    <option value="">Sélectionner l'année...</option>
                                    {% for annee in annees  %}
                                        <option value="{{ annee.id }}">{{ annee.libelle }}</option>    
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select name="classe" id="" class="form-control">
                                    <option value="">Sélectionner la classe...</option>
                                    {% for classe in classes  %}
                                        <option value="{{ classe.id }}">{{ classe.libelle }}</option>    
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Visualiser</button>
                            </div>
                        </div>
                        <br>
                    </form>             
                    
                    <div class="tab-content">
                        <div class="tab-pane show active" id="state-saving-preview">
                            <table id="state-saving-datatable" class="table activate-select dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>Nom</th>
                                        <th>Nationalité</th>
                                        <th>Adresse</th>
                                        <th>Email</th>
                                        <th>Teléphone</th>
                                        <th>Quartier</th>
                                        <th>Nom du tuteur</th>
                                        <th>Téléphone</th>
                                        <th>Profession</th>
                                        <th>Email</th>
                                        <th>Certificat de scolarité</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% if etudiants %}
                                        {% for etudiant in etudiants %}
                                            <tr>
                                                <td>{{ etudiant.matricule}}</td>
                                                <td>{{ etudiant.nom}} {{ etudiant.prenom}}</td>
                                                <td>{{etudiant.nationalite}}</td>
                                                <td>{{etudiant.adresse}}</td>
                                                <td>{{etudiant.email}}</td>
                                                <td>{{etudiant.telephone}}</td>
                                                <td>{{etudiant.quartier}}</td>
                                                <td>{{etudiant.nom_prenom_tuteur}}</td>
                                                <td>{{etudiant.telephone_tuteur}}</td>
                                                <td>{{etudiant.profession_tuteur}}</td>
                                                <td>{{etudiant.email_tuteur}}</td>
                                                <td><a href="{% url 'certificat-scolarite' etudiant.id annee %}" target="_blank" ><i class=" uil-file-download" style="font-size: 24px;"></i></a></td>
                                                <td>
                                                    <a href=""><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                  
                                </tbody>
                            </table>
                        </div> <!-- end preview-->

                        
                    </div> <!-- end tab-content-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div> <!-- end row-->


{% endblock %}

