{% extends "layouts/app.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">IMPORTER LES NOTES</h4>
                <form action="{% url 'importer-note' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <select name="annee_academique" id="annee-academique-select" class="form-control">
                                <option value="">Sélectionner l'année...</option>
                                {% for annee in annees %}
                                    <option value="{{ annee.id }}">{{ annee.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="classe" id="classe-select" class="form-control">
                                <option value="">Sélectionner la classe...</option>
                                {% for classe in classes %}
                                    <option value="{{ classe.id }}">{{ classe.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="semestre" id="semestre-select" class="form-control">
                                <option value="">Sélectionner le semestre...</option>
                                {% for semestre in semestres %}
                                    <option value="{{ semestre.id }}">{{ semestre.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
    
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <select name="unite" id="unite-select" class="form-control">
                                <option value="">Sélectionner l'unité...</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="matiere" id="matiere-select" class="form-control">
                                <option value="">Sélectionner la matière...</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="file" name="fichier" class="form-control" id="">
                        </div>
                        
                    </div>  
                    <br>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Importer</button>
                    </div>
                    <br> 
                </form>   
                {% if liste_notes %}
                    <div class="tab-content">
                        <div class="tab-pane show active" id="state-saving-preview">
                            <table id="state-saving-datatable" class="table activate-select dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>Nom & Prenom</th>
                                        <th>Note</th>                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for note in liste_notes %}
                                        <tr>
                                            <td>{{ note.MATRICULE}}</td>
                                            <td>{{ note.NOM}} {{ note.PRENOM}}</td>
                                            <td>{{note.NOTE}}</td>                                             
                                        </tr>
                                    {% endfor %}                               
                                </tbody>
                            </table>
                        </div> <!-- end preview-->        
                    </div> <!-- end tab-content-->    
                {% endif %}                             
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#semestre-select').change(function() {
    
            var classeId = $('#classe-select').val();
            var anneeAcademiqueId = $('#annee-academique-select').val();
            var semestreId = $('#semestre-select').val();

            console.log("classe"+ ":"+classeId +","+ "annee:"+anneeAcademiqueId+","+ "semestre:"+semestreId)

            if (classeId && anneeAcademiqueId && semestreId) {
                console.log(classeId)
                $.ajax({
                    url: '{% url "get-unites" %}',
                    data: {
                        'classe': classeId,
                        'annee_academique': anneeAcademiqueId,
                        'semestre': semestreId
                    },
                    success: function(data) {
                        console.log(data)
                        var uniteSelect = $('#unite-select');
                        uniteSelect.empty();
                        uniteSelect.append('<option value="">Sélectionnez une unité</option>');
                        data.forEach(function(unite) {
                            uniteSelect.append('<option value="' + unite[1] + '">' + unite[0] + '</option>');
                        });
                    }
                });
            }
        });

        $('#unite-select').change(function() {
            var uniteId = $(this).val();
            var anneeAcademiqueId = $('#annee-academique-select').val();
            var classeId = $('#classe-select').val();
            var semestreId = $('#semestre-select').val();
            if (uniteId) {
                $.ajax({
                    url: '{% url "get-matieres" %}',
                    data: {
                        'annee_id': anneeAcademiqueId,
                        'classe_id': classeId,
                        'semestre_id': semestreId,
                        'unite_id': uniteId,
                            },
                    success: function(data) {
                        var matiereSelect = $('#matiere-select');
                        matiereSelect.empty();
                        matiereSelect.append('<option value="">Sélectionnez une matière</option>');
                        data.forEach(function(matiere) {
                            matiereSelect.append('<option value="' + matiere[1] + '">' + matiere[0] + '</option>');
                        });
                    }
                });
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if alert_message %}
    <script>
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "{{ alert_message }}",
            showConfirmButton: false,
            timer: 2500
            });
        
    </script>
{% endif %}



{% endblock %}
